/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:14px "Open Sans", Arial, sans-serif; background:#fff; color:#555; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:14px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px "Open Sans", Arial, sans-serif; color:#00458b; text-decoration:none; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, .btn {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
a:hover,
.btn:hover,
input[type="submit"]:hover,
button:hover {
    opacity: 0.8;
}
.input-style::-webkit-input-placeholder { color: #4f6370; }
.input-style::-moz-placeholder { color: #4f6370; }
.input-style:-ms-input-placeholder { color: #4f6370; }
.input-style:-moz-placeholder { color: #4f6370; }
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.content-box {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.navbar-box {
    padding-bottom: 10px;
}

.call-box {
    color: #707070;
    text-transform: uppercase;
}
.navbar-box .call-box {
    width: 100%;
    text-align: right;
    clear: both;
}
.call-box .fa {
    color: #00458b;
    font-size: 18px;
}
.navbar-box .call-box .fa {
    position: relative;
    top: 2px;
}
.call-box a {
    color: #00458b;
}
.call-box a:hover {
    text-decoration: none;
}

.logo-box {
    float: left;
}

.main-nav {
    overflow: hidden;
    display: block;
    text-align: right;
}
.main-nav li {
    display: inline-table;
    min-height: 46px;
    margin: 0;
    padding: 12px 25px;
    vertical-align: middle;
    text-align: center;
}
.main-nav .get-help {
    padding: 0;
    margin-left: 5px;
    background: url(../img/header/get_help_bg.jpg) repeat left top;
}
.main-nav a {
    text-transform: uppercase;
    color: #707070;
}
.main-nav .get-help a {
    display: inline-table;
    min-height: 46px;
    padding: 12px 32px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.main-nav .current-menu-item a,
.main-nav .current_page_item a,
.main-nav .current-menu-parent a,
.main-nav .current-menu-ancestor a,
.main-nav .current-page-ancestor a,
.single-post .main-nav .menu-item-39 a,
.main-nav li:not(.get-help) a:hover{
    color: #000;
}
.main-nav a:hover {
    text-decoration: none;
}
.toggle-box .call-nav {
    display: none;
}

.banner-box {
    background: url(../img/header/banner_section_bg.jpg) repeat top right;
    background-size: contain;
}
.banner-box .title {
    color: #fff;
    text-align: center;
    font-size: 42px;
}
/*----------------------------------------------------------------------------------*/
/*--------------------------------------NAV-----------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/