/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:15px 'verbcondregular', Helvetica, sans-serif; background:#fff; color:#555; letter-spacing:0.5px; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:15px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:15px 'verbcondregular', Helvetica, sans-serif; color:#00458b; text-decoration:none; letter-spacing:0.5px; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

/*----------------------------------------------------------------------------------*/
/*--------------------------------------FONTS---------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'verbcondregular';
    src: url('../fonts/verbcondregular-webfont.eot');
    src: url('../fonts/verbcondregular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/verbcondregular-webfont.woff') format('woff'),
    url('../fonts/verbcondregular-webfont.ttf') format('truetype'),
    url('../fonts/verbcondregular-webfont.svg#verbcondregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {*/
    /*font-family: 'verblight_italic';*/
    /*src: url('../fonts/verblight-italic-webfont.eot');*/
    /*src: url('../fonts/verblight-italic-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/verblight-italic-webfont.woff') format('woff'),*/
    /*url('../fonts/verblight-italic-webfont.ttf') format('truetype'),*/
    /*url('../fonts/verblight-italic-webfont.svg#verblight_italic') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

@font-face {
    font-family: 'verbcondregular_italic';
    src: url('../fonts/verbcondregular-italic-webfont.eot');
    src: url('../fonts/verbcondregular-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/verbcondregular-italic-webfont.woff') format('woff'),
    url('../fonts/verbcondregular-italic-webfont.ttf') format('truetype'),
    url('../fonts/verbcondregular-italic-webfont.svg#verbcondregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {*/
    /*font-family: 'verblight';*/
    /*src: url('../fonts/verblight-webfont.eot');*/
    /*src: url('../fonts/verblight-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/verblight-webfont.woff') format('woff'),*/
    /*url('../fonts/verblight-webfont.ttf') format('truetype'),*/
    /*url('../fonts/verblight-webfont.svg#verblight') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, .btn {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
a:hover,
.btn:hover,
input[type="submit"]:hover,
button:hover {
    opacity: 0.8;
    text-decoration: none;
}
.input-style::-webkit-input-placeholder { color: #4f6370; }
.input-style::-moz-placeholder { color: #4f6370; }
.input-style:-ms-input-placeholder { color: #4f6370; }
.input-style:-moz-placeholder { color: #4f6370; }
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.content-box {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.btn,
a.btn {
    background: url(../img/header/get_help_bg.jpg) repeat left top;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-table;
    min-height: 46px;
    padding: 14px 32px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.top-line,
.bot-line {
    position: relative;
}
.top-line {
    padding-top: 44px;
}
.bot-line {
    padding-bottom: 44px;
}
.top-line:before,
.bot-line:after {
    content: '';
    position: absolute;
    height: 6px;
    left: 20px;
    right: 20px;
    max-width: 100%;
    background: transparent;

}
.top-line:before {
    top: 0;
    border-bottom: 2px solid #00458B;
}
.bot-line:after {
    bottom: 0;
    border-top: 2px solid #00458B;
}
.section-title {
    position: relative;
    padding-bottom: 13px;
    margin-bottom: 27px;
    font: 600 36px/1.2 'Crimson Text';
    color: #00458b;
    text-align: center;
    letter-spacing: 0;
}
.section-title:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 132px;
    margin-left: -66px;
    height: 0;
    border-bottom: 1px solid #EBEBEB;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.navbar-box {
    padding-bottom: 10px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
}

.call-box {
    padding: 5px 0 7px;
    color: #707070;
    text-transform: uppercase;
}
.navbar-box .call-box {
    width: 100%;
    text-align: right;
    clear: both;
    font-weight: 600;
    font-size: 15px;
}
.call-box .fa {
    color: #00458b;
    font-size: 18px;
}
.navbar-box .call-box .fa {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.call-box a {
    font-weight: 600;
    font-size: 15px;
    color: #00458b;
    margin-left: 5px;
}
.call-box a:hover {
    text-decoration: none;
}

.logo-box {
    float: left;
}

.banner-box {
    position: relative;
    min-height: 527px;
    background: url(../img/header/banner_section_bg.jpg) repeat top right;
    background-size: contain;
    padding-top: 45px;
}
.banner-box .title {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    font: 400 48px/1.2 'Crimson Text';
    letter-spacing: 0;
}
.home-banner-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: url(../img/header/home_banner_bg2.png) no-repeat bottom center transparent;
}
.home-banner-img img {
    display: none;
}

/*--------------------------------------NAV-----------------------------------------*/
.main-nav {
    position: relative;
    overflow: hidden;
    text-align: right;
}
.navbar-box .toggle-box {
    text-align: right;
}
.navbar-box .main-nav {
    display: inline-block;
    padding-bottom: 1px;
    margin-top: 5px;
}
.navbar-box .main-nav:before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    width: 100%;
    height: 1px;
    background: #EFEFEF;
}
.main-nav li {
    display: inline-table;
    min-height: 46px;
    margin: 0;
    padding: 14px 25px;
    vertical-align: middle;
    text-align: center;
}
.main-nav .get-help {
    position: relative;
    padding: 0;
    margin-left: 5px;
    background: url(../img/header/get_help_bg.jpg) repeat left top;
}
.navbar-box .main-nav .get-help:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    padding-left: 35px;
    height: 1px;
    background: #fff;
}
.main-nav a {
    font-weight: 600;
    text-transform: uppercase;
    color: #707070;
}
.main-nav .get-help a {
    display: inline-table;
    min-height: 46px;
    padding: 14px 32px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.main-nav .current-menu-item a,
.main-nav .current_page_item a,
.main-nav .current-menu-parent a,
.main-nav .current-menu-ancestor a,
.main-nav .current-page-ancestor a,
.single-post .main-nav .menu-item-39 a,
.main-nav li:not(.get-help) a:hover {
    color: #000;
}
.main-nav a:hover {
    text-decoration: none;
}
.toggle-box .call-nav {
    display: none;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.section-difference {
    padding-bottom: 26px;
}
.difference-list {
    display: table;
    width: 100%;
    background: url(../img/content/amp_bg.png) no-repeat center transparent;
}
.difference-list li {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    text-align: center;
}
.dif-box {
    display: inline-block;
    max-width: 370px;
}
.dif-title {
    display: inline-block;
    padding: 4px 15px 3px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    background: #00458B;
}
.dif-content {
    position: relative;
    padding: 28px 5px 25px;
    margin: 15px 0 30px;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    font-size: 16px;
    line-height: 1.6;
}
.dif-content:before,
.dif-content:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -27px;
    width: 54px;
    height: 15px;
    background: url(../img/content/dif_quote.png) no-repeat center #fff;
    background-size: contain;
}
.dif-content:before {
    top: -8px;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.dif-content:after {
    bottom: -8px;
}

.section-checks {
    background: #26292B;
    color: #fff;
}
.checks-content {
    overflow: hidden;
    padding: 36px 0 23px;
}
.checks-p {
    float: left;
    max-width: 370px;
    margin-top: 10px;
    margin-right: 36px;
    font-size: 17px;
    line-height: 1.7;
}
.checks-list {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 55px;
    -webkit-column-gap: 55px;
    column-gap: 55px;
}
.checks-list li {
    position: relative;
    margin-bottom: 18px;
    font-size: 16px;
}
.checks-list li:before {
    content: '';
    position: relative;
    display: inline-block;
    width: 17px;
    height: 14px;
    margin-right: 10px;
    background: url(../img/content/check_pointer.png) no-repeat center transparent;
}

.section-process {
    padding-bottom: 44px;
}
.process-list {
    overflow: hidden;
}
.process-list li {
    position: relative;
    float: left;
    width: 25%;
}
.process-list li:not(:first-child):before,
.process-list li:not(:nth-child(4n+1)):before {
    content: '';
    position: absolute;
    z-index: 1;
    left: -54px;
    top: 82px;
    width: 107px;
    height: 6px;
    background: url(../img/content/process_dots.png) no-repeat center transparent;
}
.process-box {
    position: relative;
    z-index: 2;
    max-width: 100%;
    padding: 0 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
}
.process-box .wrap-img {
    display: inline-block;
    overflow: hidden;
    width: 170px;
    height: 170px;
    padding: 8px;
    margin-bottom: 30px;
    border: 1px solid #D6D6D6;
    clear: both;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: padding-box;
    background-color: #fff;
}
.process-box .wrap-img img {
    display: none;
}
.process-box .step-count,
.process-box h3 {
    display: block;
    clear: both;
    color: #707070;
    font-weight: 600;
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
}
.process-box h3 {
    margin-bottom: 29px;
    color: #00458b;
}
.process-box p {
    margin-bottom: 34px;
}

.section-seen-on {

}
.section-seen-on .content-box {
    padding-top: 40px;
    border-top: 1px solid #ECECEC;
}
.logo-list {
    display: table;
    width: 100%;
    padding: 17px 0 7px;
}
.logo-list li {
    display: table-cell;
    text-align: center;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/