/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:15px 'verbcondregular', Helvetica, sans-serif; background:#fff; color:#555; letter-spacing:0.5px; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font:15px 'verbcondregular', Helvetica, sans-serif; color:#303030; vertical-align:middle; letter-spacing:0.5px; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:15px 'verbcondregular', Helvetica, sans-serif; color:#00458b; text-decoration:none; letter-spacing:0.5px; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

/*----------------------------------------------------------------------------------*/
/*--------------------------------------FONTS---------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'verbcondregular';
    src: url('../fonts/verbcondregular-webfont.eot');
    src: url('../fonts/verbcondregular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/verbcondregular-webfont.woff') format('woff'),
    url('../fonts/verbcondregular-webfont.ttf') format('truetype'),
    url('../fonts/verbcondregular-webfont.svg#verbcondregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'verbcondregular_italic';
    src: url('../fonts/verbcondregular-italic-webfont.eot');
    src: url('../fonts/verbcondregular-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/verbcondregular-italic-webfont.woff') format('woff'),
    url('../fonts/verbcondregular-italic-webfont.ttf') format('truetype'),
    url('../fonts/verbcondregular-italic-webfont.svg#verbcondregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, .btn, .input-style, button {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
a:hover,
.btn:hover,
input[type="submit"]:hover,
button:hover {
    opacity: 0.8;
    text-decoration: none;
}
.input-style {
    min-height: 44px;
    width: 100%;
    padding: 0 15px;
    background: #fff;
    border: 1px solid #BBBBBB;
    vertical-align: middle;
    box-shadow: none;
    color: #303030;
    font: 400 15px 'verbcondregular', Helvetica, sans-serif;
}
textarea.input-style {
    resize: none;
    max-height: 124px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.input-style:focus {
    border-color: #00458B;
}
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.content-box {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.btn,
a.btn {
    background: url(../img/header/get_help_bg.jpg) repeat left top;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-table;
    min-height: 46px;
    padding: 14px 32px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border: none;
}
.btn-arrow {
    padding: 18px 66px 18px 27px;
    font-size: 17px;
    background: url(../img/content/btn_arrow.png) no-repeat 88% center, url(../img/header/get_help_bg.jpg) repeat left top;
}
.top-line,
.bot-line {
    position: relative;
}
.top-line {
    padding-top: 44px;
}
.bot-line {
    padding-bottom: 44px;
}
.top-line:before,
.bot-line:after {
    content: '';
    position: absolute;
    height: 6px;
    left: 20px;
    right: 20px;
    max-width: 100%;
    background: transparent;

}
.top-line:before {
    top: 0;
    border-bottom: 2px solid #00458B;
}
.bot-line:after {
    bottom: 0;
    border-top: 2px solid #00458B;
}
.section-title {
    position: relative;
    padding-bottom: 13px;
    margin-bottom: 27px;
    font: 600 36px/1.2 'Crimson Text';
    color: #00458b;
    text-align: center;
    letter-spacing: 0;
}
.section-title:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 132px;
    margin-left: -66px;
    height: 0;
    border-bottom: 1px solid #EBEBEB;
}
.half-box {
    float: left;
    width: 50%;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.navbar-box {
    position: relative;
    z-index: 5;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
}

.call-box {
    padding: 5px 0 7px;
    color: #707070;
    text-transform: uppercase;
}
.navbar-box .call-box {
    width: 100%;
    text-align: right;
    clear: both;
    font-weight: 600;
    font-size: 15px;
}
.call-box .fa {
    color: #00458b;
    font-size: 18px;
}
.navbar-box .call-box .fa {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.call-box a {
    font-weight: 600;
    font-size: 15px;
    color: #00458b;
    margin-left: 5px;
}
.call-box a:hover {
    text-decoration: none;
}

.logo-box {
    float: left;
}
.logo-box a:hover {
    opacity: 1;
}

.preheader-box {
    position: relative;
    z-index: 3;
    background: transparent url(../img/header/preheader_bg.jpg) repeat top right;
    background-size: contain;
}
.home .preheader-box {
    padding-top: 45px;
    min-height: 527px;
    background-image: url(../img/header/banner_section_bg.jpg);
}
.preheader-box .title {
    position: relative;
    z-index: 1;
    padding: 20px 0;
    color: #fff;
    text-align: left;
    font: 400 38px/1.2 'Crimson Text';
    letter-spacing: 0;
}
.home .preheader-box .title {
    padding: 0;
    font-size: 48px;
    text-align: center;
}
.home-banner-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: url(../img/header/home_banner_bg2.png) no-repeat bottom center transparent;
}
.home-banner-img img {
    display: none;
}

/*--------------------------------------NAV-----------------------------------------*/
.main-nav {
    position: relative;
    overflow: hidden;
    text-align: right;
}
.navbar-box .toggle-box {
    text-align: right;
}
.navbar-box .main-nav {
    display: inline-block;
    padding-bottom: 1px;
    margin-top: 5px;
}
.navbar-box .main-nav:before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    width: 100%;
    height: 1px;
    background: #EFEFEF;
}
.main-nav li {
    display: inline-table;
    min-height: 46px;
    margin: 0;
    padding: 14px 25px;
    vertical-align: middle;
    text-align: center;
}
.main-nav .get-help {
    position: relative;
    padding: 0;
    margin-left: 5px;
    background: url(../img/header/get_help_bg.jpg) repeat left top;
}
.navbar-box .main-nav .get-help:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    padding-left: 35px;
    height: 1px;
    background: #fff;
}
.main-nav a {
    font-weight: 600;
    text-transform: uppercase;
    color: #707070;
}
.main-nav .get-help:hover {
    opacity: 0.8;
}
.main-nav .get-help a {
    display: inline-table;
    min-height: 46px;
    padding: 14px 32px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.main-nav .current-menu-item a,
.main-nav .current_page_item a,
.main-nav .current-menu-parent a,
.main-nav .current-menu-ancestor a,
.main-nav .current-page-ancestor a,
.single-post .main-nav .menu-item-20 a,
.archive .main-nav .menu-item-20 a,
.main-nav li:not(.get-help) a:hover {
    color: #000;
}
.main-nav li:not(.get-help) a:hover {
    text-decoration: none;
    opacity: 1;
}
.toggle-box .call-nav {
    display: none;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.section-difference {
    padding-bottom: 26px;
}
.difference-list {
    display: table;
    width: 100%;
    background: url(../img/content/amp_bg.png) no-repeat center transparent;
}
.difference-list li {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    text-align: center;
}
.dif-box {
    display: inline-block;
    max-width: 370px;
}
.dif-title {
    display: inline-block;
    padding: 4px 15px 3px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    background: #00458B;
}
.dif-content {
    position: relative;
    padding: 28px 5px 25px;
    margin: 15px 0 30px;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    font-size: 16px;
    line-height: 1.6;
}
.dif-content:before,
.dif-content:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -27px;
    width: 54px;
    height: 15px;
    background: url(../img/content/dif_quote.png) no-repeat center #fff;
    background-size: contain;
}
.dif-content:before {
    top: -8px;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.dif-content:after {
    bottom: -8px;
}

.section-checks {
    background: #26292B;
    color: #fff;
}
.checks-content {
    overflow: hidden;
    padding: 36px 0 23px;
}
.checks-p {
    float: left;
    max-width: 370px;
    margin-top: 10px;
    margin-right: 36px;
    font-size: 17px;
    line-height: 1.7;
}
.checks-list {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 55px;
    -webkit-column-gap: 55px;
    column-gap: 55px;
}
.checks-list li {
    position: relative;
    margin-bottom: 18px;
    font-size: 16px;
}
.checks-list li:before {
    content: '';
    position: relative;
    display: inline-block;
    width: 17px;
    height: 14px;
    margin-right: 10px;
    background: url(../img/content/check_pointer.png) no-repeat center transparent;
}

.section-process {
    padding-bottom: 44px;
}
.process-list {
    overflow: hidden;
    padding-top: 28px;
}
.process-list li {
    position: relative;
    float: left;
    width: 25%;
}
.process-list li:not(:first-child):before,
.process-list li:not(:nth-child(4n+1)):before {
    content: '';
    position: absolute;
    z-index: 1;
    left: -54px;
    top: 82px;
    width: 107px;
    height: 6px;
    background: url(../img/content/process_dots.png) no-repeat center transparent;
}
.process-box {
    position: relative;
    z-index: 2;
    max-width: 100%;
    padding: 0 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
}
.process-box .wrap-img {
    display: inline-block;
    overflow: hidden;
    width: 170px;
    height: 170px;
    padding: 8px;
    margin-bottom: 30px;
    border: 1px solid #D6D6D6;
    clear: both;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: padding-box;
    background-color: #fff;
}
.process-box .wrap-img img {
    display: none;
}
.process-box .step-count,
.process-box h3 {
    display: block;
    clear: both;
    color: #707070;
    font-weight: 600;
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
}
.process-box h3 {
    margin-bottom: 29px;
    color: #00458b;
}
.process-box p {
    margin-bottom: 34px;
}

.section-seen-on .content-box {
    position: relative;
    padding-top: 41px;
}
.section-seen-on .content-box:before {
    content: '';
    position: absolute;
    top: 0;
    right: 20px;
    left: 20px;
    height: 1px;
    background: #ECECEC;
}
.logo-list {
    display: table;
    width: 100%;
    padding: 17px 0 7px;
}
.logo-list li {
    display: table-cell;
    text-align: center;
}

.section-contact {
    background: #EFEFEF;
}
.section-contact .content-box {
    overflow: hidden;
    padding-top: 75px;
    padding-bottom: 77px;
}
.client-reviews {
    margin-top: 15px;
    padding-right: 15px;
    text-align: center;
}
.client-reviews .section-title:after {
    border-bottom-color: #D7D7D7;
}
.review-slider {
    padding: 16px 0 30px;
    margin-bottom: 38px;
    border-bottom: 1px solid #E4E4E4;
}
.review-title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #1b3e86;
}
.review-content {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.75;
    color: #252525;
}
.review-content p {
    margin-bottom: 8px;
}
.review-info {

}
.review-info img {
    display: inline-block;
}
.client-from {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: #555;
    clear: both;
    margin-bottom: 20px;
}
.review-rating {
    display: block;
    clear: both;
    margin-bottom: 13px;
}
.review-logo {
    display: block;
    margin-bottom: 30px;
    clear: both;
}
.slick-dots {
    position: relative;
    bottom: 0;
}
.slick-dots li {
    overflow: hidden;
    width: 16px;
    height: 16px;
    margin: 0 6px;
    border-radius: 50%;
}
.slick-dots li button {
    width: 16px;
    height: 16px;
    padding: 0;
    border-radius: 50%;
    background: #E0E0E0;
}
.slick-dots li button:hover {
    background: #C0C0C0;
    opacity: 1;
}
.slick-dots li.slick-active button {
    background: #00458B;
}
.slick-dots li button:before {
    display: none;
}
.review-badges {
    clear: both;
    margin-bottom: 26px;
}

.section-form {
    overflow: hidden;
    padding: 5px 5px 0 15px;
}
.wrap-form {
    position: relative;
    background: #fff;
    padding: 45px 30px 40px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}
.wrap-form .section-title {
    margin-bottom: 31px;
}
.form-p {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.6;
    color: #303030;
    text-align: center;
}
.wrap-form form {
    padding-top: 8px;
}
.wrap-form form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    line-height: 2;
    color: #303030;
    clear: both;
}
.wpcf7-not-valid {
    border-color: #f00;
}
.wrap-form .wpcf7-not-valid-tip{
    display: none;
}
.wrap-form .wpcf7-response-output {
    margin: 20px 0 0;
}
.wrap-form form .optional {
    float: right;
    position: relative;
    top: 3px;
    font-size: 13px;
    font-weight: 400;
}
.wrap-form form .mcafee {
    position: absolute;
    right: 0;
    bottom: 7px;
}
.wrap-form form input[type=submit] {
    margin-top: 26px;
}
.under-form-text {
    font: 400 14px/1.7 Helvetica;
    color: #7d7d7d;
    letter-spacing: 0;
    text-align: center;
}
.under-form-text a {
    font: 600 15px Helvetica;
    letter-spacing: 0;
    color: #00458b;
}
.under-form-text a:hover {
    opacity: 1;
    text-decoration: underline;
}

/*--------------------------------------INNER---------------------------------------*/
.inner-wrap {
    overflow: hidden;
    padding-top: 38px;
    padding-bottom: 38px;
}
#main {
    float: left;
    width: -moz-calc(100% - 400px);
    width: -webkit-calc(100% - 400px);
    width: -o-calc(100% - 400px);
    width: calc(100% - 400px);
}

.post-header {
    margin-bottom: 11px;
}
.post-title {
    margin-bottom: 7px;
    font: 600 27px/1.2 'Crimson Text';
    color: #00458b;
    letter-spacing: 0;
    clear: both;
}
.post-date {
    font-size: 13px;
    color: #898989;
    text-transform: uppercase;
}
.post-content {
    padding-bottom: 21px;
    border-bottom: 1px solid #EDECEC;
    font: 400 15px/1.7 'verbcondregular', Helvetica, sans-serif;
    color: #303030;
}
.page .post-content {
    border-bottom: none;
}
.post-content img {
    max-width: 100%;
    height: auto;
}
.post-content .aligncenter {
    display: block;
    margin: 0 auto 15px;
}
.post-content .alignleft {
    float: left;
    margin: 0 15px 5px 0;
}
.post-content .alignright {
    float: right;
    margin: 0 0 5px 15px;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin-top: 5px;
    margin-bottom: 8px;
    font-family: 'verbcondregular', Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.5;
    color: #00458b;
}
.post-content h1 {
    font-size: 20px;
}
.post-content h2 {
    font-size: 17px;
}
.post-content h3 {
    font-size: 16px;
}
.post-content h4,
.post-content h5,
.post-content h6 {
    font-size: 15px;
}
.post-content p {
    margin-bottom: 8px;
}
.post-content a:hover {
    opacity: 1;
    text-decoration: underline;
}
.post-content ul,
.post-content ol {
    padding-left: 30px;
    margin-bottom: 12px;
}
.post-content ol {
    counter-reset: my-badass-counter;
}
.post-content ul li {
    margin-bottom: 8px;
    list-style-type: disc;
}
.post-content ol li {
    position: relative;
    margin-bottom: 8px;
    list-style-type: none;
}
.post-content ol li:before {
    content: counter(my-badass-counter);
    counter-increment: my-badass-counter;
    position: absolute;
    left: -31px;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #00458B;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -1px;
    color: #fff;
}
.post-content table {
    width: 100%;
    margin-bottom: 10px;
}
.post-content table td,
.post-content table th {
    padding: 2px 5px;
    border: 1px solid #303030;
    vertical-align: top;
}
.post-content table th {
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: middle;
}

.post-footer .yarpp-related {
    margin: 0;
    padding: 8px 0 26px;
    border-bottom: 1px solid #EDECEC;
}
.post-footer .post-foot-title {
    padding: 19px 0;
    font: 600 22px/1.2 'Crimson Text';
    color: #00458b;
    border-bottom: 1px solid #00A6E9;
    letter-spacing: 0;
}
.rel-post-list {
    overflow: hidden;
    padding-top: 25px;
}
.rel-post-list > li {
    float: left;
    width: 50%;
}
.rel-post-thumb img {
    float: left;
    margin: 4px 18px 10px 0;
    max-width: 109px;
    height: auto;
}
.rel-post-list h4 {
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 1.4;
    color: #00458b;
}
.rel-post-list a:hover,
.rel-post-list a:hover h4 {
    opacity: 1;
    color: #8dc63f;
}
.rel-post-list a.post-read-more {
    font-size: 14px;
}

.comment-box .post-foot-title {
    margin-bottom: 9px;
}
.no-comment {
    font-family: 'verbcondregular_italic';
    padding: 15px 0 20px;
    line-height: 1.5;
}
.comment-list {

}
.comment-list > li {
    padding: 26px 0 29px;
    border-bottom: 1px solid #E7E7E7;
}
.comment-author {
    margin-bottom: 10px;
}
.comment-author .comment-meta {
    float: right;
    margin: 0 0 5px 10px;
    font-size: 11px;
    line-height: 2;
    font-weight: 600;
    text-transform: uppercase;
    color: #959595;
}
.comment-author .author {
    font-size: 16px;
    color: #005fb0;
}
.comment-author > li p {
    font-size: 15px;
    line-height: 1.5;
    color: #303030;
}
.comment-respond {
    margin-top: -1px;
    border-top: 6px solid #fff;
    padding: 22px 40px 26px;
    background: #f9f9f9;
}
.comment-reply-title {
    padding: 0 0 10px;
    margin-bottom: 10px;
    font: 600 24px/1.2 'Crimson Text';
    color: #00458b;
    border-bottom: 1px solid #E3E6EA;
    letter-spacing: 0;
}
.comment-form > p {
    margin-bottom: 7px;
}
.comment-form-comment {
    margin-bottom: 20px;
}
.form-submit {
    margin-top: 20px;
}
.comment-form .input-style {
    border-radius: 2px;
}
.comment-form label {
    display: inline-block;
    padding: 6px 0;
    font-size: 15px;
    color: #303030;
}
.comment-form .btn-arrow {
    padding: 18px 40px;
    background: url(../img/header/get_help_bg.jpg) repeat left top;
}

.post {
    clear: both;
    overflow: hidden;
    padding-bottom: 32px;
    border-bottom: 1px solid #F2F2F2;
}
.post:not(:first-child) {
    padding-top: 30px;
}
.post-thumb img {
    float: left;
    max-width: 370px;
    height: auto;
    margin-right: 30px;
}
.post-excerpt-box {
    overflow: hidden;
}
.post .post-title {
    margin-bottom: 18px;
    font-size: 26px;
    line-height: 1;
    color: #363636;
}
.post-excerpt {
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 1.7;
}
.post-excerpt p:not(:last-child) {
    margin-bottom: 6px;
}
a.post-read-more {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #00458b;
}
a.post-read-more:hover {
    opacity: 1;
    color: #8dc63f;
}

.wp-pagenavi {
    padding: 30px 0 0;
}
.wp-pagenavi span,
.wp-pagenavi a {
    display: inline-block;
    margin-left: 5px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
}
.wp-pagenavi a {
    border: 1px solid #C8C8C8;
    color: #00458b;
}
.wp-pagenavi a:hover {
    opacity: 1;
    border-color: #fff;
    background: #8dc63f;
    color: #fff;
}
.wp-pagenavi span:first-child,
.wp-pagenavi a:first-child {
    margin-left: 0;
}
.wp-pagenavi .current {
    height: 33px;
    width: 33px;
    background: #00458B;
    border-color: #fff;
    color: #fff;
}
.wp-pagenavi .extend {
    background: transparent;
    border: none;
    color: #909394;
    font-size: 20px;
    font-family: serif;
    width: 28px;
    position: relative;
    top: -4px;
}
.wp-pagenavi .previouspostslink,
.wp-pagenavi .first {
    padding-right: 2px;
}
.wp-pagenavi .nextpostslink,
.wp-pagenavi .last {
    padding-left: 2px;
}

/*------------------------------------ATTORNEY--------------------------------------*/
.single-attorney .preheader-box {
    background-image: url(../img/header/banner_section_bg.jpg);
}
.banner-attorney {
    min-height: 455px;
    padding-top: 63px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: right bottom;
    color: #fff;
}
.banner-attorney .title {
    max-width: 600px;
    margin-bottom: 13px;
    font-size: 44px;
}
.banner-attorney-content {
    max-width: 500px;
    padding-bottom: 39px;
    font-size: 20px;
    line-height: 1.6;
    color: #d7d7d7;
}
.banner-attorney-content p {
    margin-bottom: 12px;
}
.banner-attorney-footer {
    position: relative;
    max-width: 600px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 1.45;
}
.banner-attorney-footer:before {
    content: '';
    display: block;
    width: 51px;
    height: 2px;
    background: #636363;
    margin-bottom: 29px;
}

.single-attorney .inner-wrap {
    padding-top: 47px;
    padding-bottom: 33px;
}
.single-attorney .content {
    padding-top: 19px;
}
.single-attorney .post-content {
    border-bottom: none;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    padding-bottom: 0;
}
.single-attorney .post-content h2,
.single-attorney .post-content h3 {
    font-size: 18px;
    margin-bottom: 9px;
}
.single-attorney .post-header {
    margin-bottom: 23px;
}
.attorney-title {
    position: relative;
    text-transform: uppercase;
    font-size: 22px;
    color: #00458b;
    letter-spacing: 1px;
    padding-bottom: 22px;
}
.attorney-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 132px;
    height: 1px;
    background: #EBEBEB;
}
.attorney-btn {
    font-size: 14px;
    margin-top: 16px;
    padding: 15px 16px 14px;
}
a.attorney-btn:hover {
    text-decoration: none;
    opacity: 0.8;
}

.section-lawyers {
    padding-bottom: 10px;
}
.lawyers-slider {
    padding-top: 30px;
}
.lawyers-slider .slick-slide {
    padding: 0 15px 47px;
    text-align: center;
}
.lawyers-slider .wrap-img {
    display: inline-block;
    overflow: hidden;
    width: 170px;
    height: 170px;
    padding: 8px;
    margin-bottom: 30px;
    border: 1px solid #D6D6D6;
    clear: both;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: padding-box;
    background-color: #fff;
}
.lawyers-slider h3 {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 14px;
    text-transform: uppercase;
    font-size: 18px;
    color: #0054a6;
}
.lawyers-slider h3:after {
    content: '';
    position: absolute;
    width: 132px;
    height: 1px;
    background: #EBEBEB;
    bottom: 0;
    left: 50%;
    margin-left: -66px;
}
.lawyer-excerpt {
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.7;
    color: #555;
}
.lawyer-excerpt p {
    margin-bottom: 8px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#sidebar {
    float: right;
    width: 372px;
    padding: 8px 0;
    background: #f9f9f9;
}
#sidebar .widget {
    padding: 15px 35px 20px;
    border-bottom: 1px solid #E8E8E8;
}
#sidebar .widget:last-child {
    border-bottom: none;
}
.widget-title {
    padding: 17px 0;
    margin-bottom: 15px;
    font: 600 24px/1.2 'Crimson Text';
    color: #00458b;
    border-bottom: 1px solid #00A6E9;
    letter-spacing: 0;
}
#sidebar a:hover {
    opacity: 1;
}

.widget_categories {

}
.widget_categories .cat-item {
    padding: 11px 0;
    margin: 0 -35px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.widget_categories .cat-item:hover,
.widget_categories .cat-item.active {
    background: #00458B;
}
.widget_categories .cat-item a {
    margin-left: 35px;
    font-size: 15px;
    color: #2e2e2e;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.widget_categories .cat-item:hover a,
.widget_categories .cat-item.active a {
    color: #fff;
}
.cat-count {
    float: right;
    display: inline-block;
    margin-right: 35px;
    min-width: 36px;
    height: 20px;
    background: #ccc;
    border-radius: 10px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    letter-spacing: -1px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.widget_categories .cat-item:hover .cat-count,
.widget_categories .cat-item.active .cat-count {
    background: #0E5EAF;
}

.wpp-list > li:not(:first-child) {
    padding-top: 12px;
    margin-top: 16px;
    border-top: 1px solid #E8E8E8;
}
.wpp-list .wpp-thumbnail {
    float: left;
    margin: 4px 10px 5px 0;
}
a.wpp-post-title {
    display: block;
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 1.4;
    color: #00458b;
}
a.wpp-post-title:hover {
    opacity: 1;
    color: #8dc63f;
}
.wpp-list a.post-read-more {
    font-size: 14px;
}

.widget_archive {

}
.widget_archive li {
    position: relative;
    padding: 11px 0;
    margin: 0 -35px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.widget_archive li:hover,
.widget_archive li.active {
    background: #00458B;
}
.widget_archive li a {
    margin-left: 35px;
    font-weight: 600;
    font-size: 15px;
    color: #2e2e2e;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.widget_archive li a:after {
    content: '\f105';
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
    position: absolute;
    right: 35px;
    top: 50%;
    margin-top: -9px;
    color: #00458b;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.widget_archive li:hover a,
.widget_archive li.active a,
.widget_archive li:hover a:after,
.widget_archive li.active a:after {
    color: #fff;
}

.tagcloud {
    padding-top: 3px;
}
.tagcloud a {
    color: #464646;
}
.tagcloud a:hover {
    opacity: 1;
    color: #00458b;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.map {
    position: relative;
    height: 620px;
}
.map_canvas {
    position: relative;
    z-index: 1;
}
.gm-style-iw {
    left: 0 !important;
    top: 0 !important;
    width: 465px !important;
    height: 198px;
}
.map-infowindow {
    z-index: 5;
    padding: 0;
}
.map-img {
    float: right;
    min-height: 198px;
    max-width: 200px;
    width: auto;
    height: auto;
}
.section-appointment {
    overflow: hidden;
    height: 114px;
    background: #00458B;
    color: #fff;
}
.appointment-p {
    float: left;
    width: 50%;
    padding-right: 95px;
    height: 100%;
}
.appointment-p p {
    position: relative;
    background: #252525;
    padding: 46px 0;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    min-height: 100%;
}
.appointment-p p:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: -70px;
    width: 70px;
    height: 114px;
    background: url(../img/footer/appointment_shadow.png) no-repeat right center transparent;
}
.appointment-p p:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    right: -40px;
    width: 0;
    height: 0;
    border-top: 57px solid transparent;
    border-left: 40px solid #252525;
    border-bottom: 57px solid transparent;
}
.appointment-list {
    float: left;
    width: 50%;
    padding: 20px 0;
    margin-left: -18px;
}
.appointment-list li {
    float: left;
    border-left: 1px solid #145494;
    padding: 12px 0 12px 35px;
    margin-left: 24px;
}
.appointment-list li:first-child {
    border: none;
    margin-left: 0;
    padding-left: 0;
}
.appointment-list .fa {
    float: left;
    display: inline-block;
    height: 48px;
    width: 48px;
    margin-right: 20px;
    text-align: center;
    font-size: 22px;
    line-height: 48px;
    background: #252525;
    border-radius: 50%;
    color: #fff;
}
.appointment-list .fa-phone {
    font-size: 28px;
    line-height: 51px;
}
.appointment-list p {
    overflow: hidden;
    margin-top: 4px;
    font-size: 15px;
    text-transform: uppercase;
    color: #c2c2c2;
    font-weight: 600;
}
.appointment-list a {
    display: block;
    font-size: 19px;
    color: #fff;
    font-weight: 600;
}

#footer .nav-section {
    overflow: hidden;
    clear: both;
    border-bottom: 1px solid #E3E4E8;
}
#footer .logo-box {
    margin-top: 28px;
}
#footer .call-box {
    float: right;
    position: relative;
    padding: 22px 0 18px 23px;
}
#footer .call-box .fa {
    float: left;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-top: 4px;
    margin-right: 24px;
    background: #0054A6;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 20px;
}
#footer .call-box p {
    overflow: hidden;
    color: #555;
    font-weight: 600;
}
#footer .call-box p a {
    display: block;
    font-size: 22px;
    line-height: 1.4;
    margin: 0;
}
.cards {
    float: right;
    padding: 30px 20px 28px;
    position: relative;
    padding-left: 23px;
}
.cards img {
    max-width: 100%;
    height: auto;
}
#footer .call-box:before,
.cards:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background: #E4E4E4;
}
#footer .main-nav {
    padding: 30px 0;
    text-align: center;
}
#footer .main-nav li {
    min-height: auto;
    padding: 5px 13px;
}
#footer .main-nav .get-help {
    display: none;
}
#footer .main-nav li:first-child {
    padding-left: 5px;
}
#footer .main-nav li:last-child {
    padding-right: 5px;
}
#footer .main-nav a {
    color: #858a9a;
    font-size: 13px;
}
#footer .main-nav .current-menu-item a,
#footer .main-nav .current_page_item a,
#footer .main-nav .current-menu-parent a,
#footer .main-nav .current-menu-ancestor a,
#footer .main-nav .current-page-ancestor a,
.single-post #footer .main-nav .menu-item-20 a,
.archive #footer .main-nav .menu-item-20 a,
#footer .main-nav li a:hover {
    color: #000;
}

.copy-section {
    overflow: hidden;
    padding-bottom: 20px;
}
.copy {
    float: left;
    margin-top: 16px;
}
.copy li {
    display: inline-table;
    position: relative;
}
.copy li:not(:first-child) {
    margin-left: 44px;
}
.copy li:not(:first-child):before {
    content: '•';
    position: absolute;
    left: -25px;
    top: 4px;
    font: 400 12px/1 Helvetica;
    color: #858a9a;
}
.copy p,
.copy a {
    font: 400 12px/1.4 Helvetica;
    color: #858a9a;
    letter-spacing: 0;
}
.powered-by {
    float: right;
    position: relative;
    top: -5px;
    font: 400 12px Helvetica;
    color: #858a9a;
    letter-spacing: 0;
}
.powered-by img {
    position: relative;
    top: 12px;
    margin-left: 8px;
}

/*--------------------------------------OTHER---------------------------------------*/
.wrap-404 {
    text-align: center;
    padding: 90px 0 100px;
    color: #00458b;
    font-size: 56px;
    letter-spacing: 0;
}
.wrap-404 .error-404{
    display: block;
    margin-bottom: -15px;
    font-weight: 700;
    font-size: 180px;
    line-height: 1;
}